<Config>
  <LogLevel>info</LogLevel>
  <UrlBase></UrlBase>
  <BindAddress>*</BindAddress>
  <Port>8989</Port> <ApiKey>{{ sonarr_api_key }}</ApiKey>
  <AuthenticationMethod>None</AuthenticationMethod>
  <DownloadClientType>qBittorrent</DownloadClientType>
  <DownloadClientHost>qbittorrent</DownloadClientHost>
  <DownloadClientPort>8080</DownloadClientPort>
</Config>